<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fortmathematics"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/fort_maths_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.fortmathematics.FortMaths"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="Game"></activity>
        <activity android:name="GameSelection"></activity>
        <activity android:name="ShowSets"></activity>
        <activity android:name="GameSummary"></activity>
        <activity android:name="ScoreSelectionMenu"></activity>
        <activity android:name="ScoresList"></activity>
        <activity android:name="PlayerResults"></activity>
        <activity android:name="AddGame"></activity>
        <activity android:name="InputQuestions" android:theme="@android:style/Theme.Holo.Dialog"></activity>
        <activity android:name="About" android:theme="@android:style/Theme.Holo.Dialog"></activity>
    </application>

</manifest>
